
/* Generic style */
body {
	background-color: #fff;
	margin: 0px;
	direction: rtl;
	font-family: SansHebrew;
}

header {
	height: 180px;
	width: 100%;
}

header > .logo {
	height: 100%;
	width: 70%;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	float: left;
	margin-left: 50px;
}
header > span {
	width: 10%;
	float: right;
	margin-right: 10%;
	margin-top: 30px;
	color: #0591ac;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
}
.logout {
	position: absolute;
	top: 70px;
	text-decoration: none;
	font-size: 20px;
	color: #c2c2c2;
}
.logout:hover {color: #000;}

footer {
	width: 100%;
	height: 300px;
	background-image: url("../img/footer.png");
	background-size: 75% auto;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 60px;
	margin-bottom: 20px;
}
.clear {clear: both;}





/* form style */

.col1, .col2, .col3 {
	float: right;
	width: 33.33%;
}
.col1 > span {
	width: 100px;
	display: inline-block;
}
.col2 > span {
	width: 125px;
	display: inline-block;
}
.col3 > span {
	width: 160px;
	display: inline-block;
}
.col1 > input,
.col2 > input,
.col3 > input {
	padding: 0px 1%;
	border-radius: 10px;
	border: 2px solid #cfcece;
	outline: 0;
	margin: 20px 0px;
	height: 40px;
	width: 42%
}
.col3 > input {width: 50%}

h1 {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 50px;
	font-size: 28px;
}
h2 {
	text-decoration: underline;
	margin-top: 30px;
	font-size: 20px;
}
h3 {
	margin-top: 30px;
	font-size: 20px;
}
input {font-size: 16px;}
input:focus {border-color: #276b64;}
span {
	font-size: 18px;
	line-height: 50px;
}

table {
    border-collapse: collapse;
    width: 99%;
}
table, td, th {
	border: 1px solid black;
	text-align: center;
}
tr {height: 40px;}
th:nth-child(1) {width: 3%;}
th:nth-child(2) {width: 17%}
th:nth-child(3) {width: 5%;}
th:nth-child(4) {width: 10%;}
th:nth-child(5) {width: 10%;}
th:nth-child(6) {width: 20%;}
th:nth-child(7) {width: 35%;}

td > input {
	outline: 0;
	height: 30px;
	width: 95%;
	border: none;
}
td > span {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
	cursor: pointer;
	display: inline-block;
}
td > span.slash {
	width: auto;
	cursor: none;
}
td > span:hover {background-color: #ececec;}
td > span.slash:hover {background-color: #fff;}
td > span.active {background-color: #b5e4df;}

.row {
	width: 99%;
	margin-top: 20px;
	/*background-color: green;*/
	overflow: hidden;
	display: block;
}
.row > input {
	width: 1500px;
	outline: 0;
	border: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #000;
	line-height: 25px;
}
.row > input:focus {
	border-top: none;
	border-bottom: 2px solid #276b64;
}

input.sendBtn {
	width: 200px;
	height: 45px;
	display: block;
	font-size: 18px;
	line-height: 45px;
	border-radius: 10px;
	border: none;
    float: left;
	background-color: #276b64;
	text-align: center;
	color: #fff;
	cursor: pointer;
	margin-top: 60px;
	margin-left: 10px;
	outline: none;
}

.success > h3 {
	text-align: center;
	font-size: 55px;
	color: #20665f;
	margin-top: 50px;
}



/* Login Form style */
.loginForm {
    max-width: 300px;
    padding: 30px;
    background-color: #F7F7F7;
    margin: 0 auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: -30px;
    margin-bottom: -100px;
    padding-bottom: 40px;
}
.loginForm > .img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 20px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.loginForm > form > input[type=email],
.loginForm > form > input[type=password],
.loginForm > form > input[type=text],
.loginForm > form > button {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    direction: ltr;
}
.loginForm > form input[type="checkbox"] {
    margin-left: 5px;
    float: left;
    width: 16px;
}
.loginForm > form > button {height: 30px; }
.loginForm > form > button > img {margin-top: -12px;}
.loginForm > form > input[type=email]:focus,
.loginForm > form > input[type=password]:focus,
.loginForm > form > input[type=text]:focus {
    border-color: rgb(104, 145, 162, 0.5);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgb(104, 145, 162);
}
.loginForm > form > .btn-signin {
    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 40px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    color: #fff;
    margin-top: 15px;
}
.loginForm > form > .btn-signin:hover,
.loginForm > form > .btn-signin:active,
.loginForm > form > .btn-signin:focus {background-color: rgb(0, 174, 157);}

#errMsg {
	margin-top: -17px;
	margin-left: 2px;
	font-size: 13px;
	float: left;
	direction: ltr;
	color: #c21212;
}
#statusServer {
    float: left; 
    margin-right: 20px;
    margin-top: 4px;
    margin: 4px 8px 0px 5px;
    width: 17px;
    height: 17px;
}
.loginForm > span {
	margin-top: -12px;
	font-size: 14px;
	float: left;
	direction: ltr;
}



/* Patients Page - Admin */
.patient {
	width: 92%;
	max-height: 235px;
	background-color: #fdfdfd;
	margin-bottom: 30px;
	padding: 20px 4%;
	border-radius: 15px;
	border: 1px solid #cccccc;
	cursor: pointer;
	overflow: hidden;

	position: relative;
    -webkit-transition: max-height 0.2s ease-in-out;
    -moz-transition: max-height 0.2s ease-in-out;
    -o-transition: max-height 0.2s ease-in-out;
    -ms-transition: max-height 0.2s ease-in-out;
    transition: max-height 0.2s ease-in-out;
}
.patientActive {
	height: auto;
	background-color: #f6f6f6;
	max-height: 3000px;

    -webkit-transition: max-height 0.4s ease-in-out;
    -moz-transition: max-height 0.4s ease-in-out;
    -o-transition: max-height 0.4s ease-in-out;
    -ms-transition: max-height 0.4s ease-in-out;
    transition: max-height 0.4s ease-in-out;
}
.patient:hover {background-color: #f6f6f6;}

.patient > h5 {
	width: 50%;
	position: absolute;
	text-align: left;
	left: 12px;
	top: -12px;
	font-weight: normal;
	color: #cccccc;
	font-size: 12px;
}
.patient > table {
	margin-top: 20px;
	width: 90%;
}
.patient > .imgBox {
	width: 3.33%;
	height: 40px;
	background-size: auto 70%;
	/*background-color: green;*/
	background-position: center;
	background-repeat: no-repeat;
	/*float: right;*/
	opacity: 0.3;
}
.patient > .kidImg {background-image: url("../img/kid.png");}
.patient > .maleImg {background-image: url("../img/male.png");}
.patient > .femaleImg {background-image: url("../img/female.png");}

.patient > .row > span {
	margin-right: 10px;
	font-weight: 600;
}





/* Desktop design */
@media only screen and (min-width: 1824px) {
    /* start of large desktop styles */
	header > span {font-size: 22px;}
	h1 {font-size: 32px;}
	h2 {font-size: 22px;}
	h3 {font-size: 22px;}
	span {font-size: 19px;}
    table {width: 95%;}
	.row {width: 95%;}
	input.sendBtn {
		width: 300px;
		height: 50px;
		margin-left: 75px;
	}
	.success > h3 {
		font-size: 65px;
		margin-top: 80px;
	}
}


/* Mobile design */
@media screen and (max-width: 479px) {
    /* start of phone styles */
	header {height: 90px;}
	header > .logo {
		margin-top: 10px;
		margin-left: 10px;
	}
	header > span {margin-right: 4%;}
	#wrapper {
		width: 94%;
		overflow: hidden;
	}

	h1 {
		font-size: 17px;
		margin-top: 10px;
		margin-bottom: 30px;
	}
	h2 {font-size: 16px;}
	h3 {font-size: 16px;}
	span {
		font-size: 15px;
		line-height: 26px;
	}

	.col1, .col2, .col3 {
		float: right;
		width: 100%;
	}
	.col1 > span,
	.col2 > span,
	.col3 > span {width: 35%;}

	.col1 > input,
	.col2 > input,
	.col3 > input {
		width: 60%;
		margin: 8px 0px;
	}

	table {width: 100%;}
	table, td, th {font-size: 12px;}
	tr {height: 40px;}
	th:nth-child(1) {width: 4%;}
	th:nth-child(2) {width: 27%}
	th:nth-child(3) {width: 12%;}
	th:nth-child(4) {width: 10%;}
	th:nth-child(5) {width: 10%;}
	th:nth-child(6) {width: 10%;}
	th:nth-child(7) {width: 27%;}
	td > span.slash {display: none;}

	footer {
		height: 100px;
		background-size: 100% auto;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.success > h3 {
		font-size: 28px;
		margin: 80px 0px;

	}



	.patient {
		width: 91%;
		max-height: 155px;
		padding: 5px 4%;
		margin-bottom: 20px;
	}
	.patientActive {
		height: auto;
		max-height: 2000px;
	}
	.patient > table {width: 100%;}
	.patient > .imgBox {display: none;}



	.loginForm {
		max-width: 280px;
	    margin-top: 25px;
	    margin-bottom: 10px;
	}
	.loginForm > .img-card {margin: 0 auto 10px;}
	.loginForm > form > input[type=email],
	.loginForm > form > input[type=password],
	.loginForm > form > input[type=text],
	.loginForm > form > button {margin-bottom: 10px;}

	#errMsg {margin-top: -8px;}
	.loginForm > span {margin-top: 0px;}

	.logout {
		top: 40px;
		right: 20px;
		font-size: 16px;
	}

}


/* font style */
@font-face {
    font-family: SansHebrew;
    src: url("../css/fonts/SansHebrewRegular.woff2");
}
